*{
    margin: 0px;
    padding: 0px;
    font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;
}
.table{
    display: table;
    word-wrap:break-word;
    table-layout:fixed;
}
.table-cell{
    display: table-cell;
}
a{
    color: black;
    text-decoration: none;
    cursor: hand;
}
a:hover{
    color: #3FAAF9;
}
.size-full{
    height: 100%;
    width: 100%;
}
.width-full{
    width: 100%;
}
.height-full{
    height: 100%;
}
.text-center{
    text-align: center;
    vertical-align: middle;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.h_10{
   height: 10px;
}
.h_20{
    height: 20px;
}
.h_30{
    height: 30px;
}
.h_40{
    height: 40px;
}
.h_50{
    height: 50px;
}
.h_60{
    height: 60px;
}
.color_red{
    color: red;
}
.color_blue{
    color: blue;
}
.color_green{
    color: green;
}