body{
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    transition: all 2s;
}
.night-theme a{
    color: #1f1f1f;
}
#header{
    height: 150px;
    background-color:#2e7bcf;
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 12px 0px;
    transition: all 2s;
}

#header .search{
    position: absolute;
    right: 50px;
    bottom: 20px;
}
#header .search .tip{
    font-size: 12px;
    margin-right: 10px;
}
#header .search #key{
    height: 30px;
    width: 100px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #808080;
    background: url(../images/search-icon.png) no-repeat left center #FFFFFF;
    transition: all 2s, width 1s;
}
#header .search input#key:focus{
    outline:none;
    width: 150px;
    border: 1px solid #97bde6;
}
#header .nav{
    height: 30px;
    display: inline-block;
    position: relative;
    transition: all 1s;
    top: -30px;
    transition: all 1s;
}

#header .nav ul{
    list-style: none;
    color: black;
}
#header .nav ul li{
    position: relative;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    min-width: 60px;
    background-color: #B5CEE8;
    transition: all 1s,color 0.3s;
    box-shadow: 4px 4px 2px 0px #2A2D29;
}
#header .nav ul li:before{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #F9FFE7;
    height: 6px;
    width: 100%;
    left: 0px;
    bottom: -6px;
    box-shadow: 4px 4px 2px 0px #2A2D29;
}
#header .nav ul li:hover:after{
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #6BA0EF;
    height: 3px;
    width: 100%;
    left: 0px;
    bottom: -3px;
}
#header .nav ul li:nth-child(1):before{
    border-bottom-left-radius: 6px;
}
#header .nav ul li:nth-last-child(1):before{
    border-bottom-right-radius: 6px;
}
#header .nav ul li:hover{
    margin-top: 30px;
    color: #6BA0EF;
}
#header .nav ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    color: inherit;
    font-size: initial;
}
#header .nav.show{
    top: 0px;
}
#header .nav.show ul li{
    /*overflow: hidden;*/
}

#header .nav.show ul li:hover{
    margin-top: 0px;

}
#main{
    border-top: solid 1px #FFFFFF;
    padding-top: 30px;
}
#sidebar{
    padding: 20px;
    width: 210px;
    height: 500px;
    overflow: hidden;
}
#sidebar .icon{
    overflow: hidden;
}
#sidebar .icon a{
    display: block;
    width: 100%;
    height: 100%;
}
#sidebar .icon a:hover{
    transform: scale(1.15);
}
#sidebar .icon a img{
    width: 100%;
    transition: all .5s;
    box-shadow: 3px 3px 5px 0px;
}

#main .content-wrapper{
    width: 1000px;
    margin: 0px auto;
}
#main .content-wrapper #content{
    padding-left: 1em;
}
@media(max-width: 1000px){
    #main .content-wrapper{
        width: 90%;
    }
    #sidebar{
        display: none;
    }
    #main .content-wrapper #content{
        padding-left: 0px;
    }
}
@media (max-width: 500px) {
    #main{
        padding-top: 10px;
    }
    #main .content-wrapper{
        width: 100%;
    }
    #main .content-wrapper #content{
        padding-left:0px;
    }
}

#main .content-wrapper #content{
    vertical-align: top;
}

#main .content-wrapper #content #list .title-list ul{
    padding: 0px;
    list-style: none;
}
#main .content-wrapper #content #list .title-list ul>li{
    position: relative;
    border-radius: 5px;
    margin-bottom: 1px;
    padding-left: 1em;
    padding-bottom: 5px;
    display: block;
}
#main .content-wrapper #content #list .title-list ul>li a{
    transition: all 1s;
}
#main .content-wrapper #content  #list .title-list ul>li:before{
    content: "";
    display: block;
    height: 0%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #E6F0FB;
    transition: all .5s;
    border-radius: 5px;
    position: absolute;
}
#main .content-wrapper #content  #list .title-list ul>li:hover:before{
    height: 100%;
}
#main .content-wrapper #content #list .title-list ul>li:after{
    content: "";
    display: block;
    height: 0%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #E6F0FB;
    transition: all 1s;
    position: absolute;
}
#main .content-wrapper #content #list .title-list ul>li:hover:after{
    /*height: 50%;*/
}
#main .content-wrapper #content #list .title-list ul>li .title{
    font-size: 30px;
    line-height: 35px;
    color: #414256;
    position: relative;
}
#main .content-wrapper #content #list .title-list ul>li .time{
    padding-left: 1em;
    line-height: 15px;
    font-size: 15px;
    color: #929292;
    position: relative;
    border-bottom: 1px solid #EAEAEA;
    position: relative;
    transition: all 2s;
}
#main .content-wrapper #content #list .title-list.left-out{
    width:100px;
}
.title-list ul>li:nth-child(2n).ng-enter{
    transition: 0.1s linear all;
    transform: translateX(100px);
    opacity: 0;
}
.title-list ul>li:nth-child(2n).ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateX(0px);
}
.title-list ul>li:nth-child(2n-1).ng-enter{
    transition: 0.1s linear all;
    transform: translateX(-100px);
    opacity: 0;
}
.title-list ul>li:nth-child(2n-1).ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateX(0px);
}
/*.title-list.ng-leave {*/
/*transition: 1s linear all;*/
/*opacity: 1;*/
/*}*/
/*.title-list.ng-leave.ng-leave-active {*/
/*opacity: 0;*/
/*}*/

/*分页*/
#main .content-wrapper #content #list .page{
    height: 40px;
    margin-left: 20px;
}
#main .content-wrapper #content #list .page ul{
    display: inline-block;
    height: 100%;
    margin-top: 10px;
    list-style: none;
}
#main .content-wrapper #content #list .page ul>li{
    padding: 0px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left:2px;
}
#main .content-wrapper #content #list .page ul>li.selected a{
    transition: all 2s;
    background-color: #5B6673;
    color: #FFFFFF;
}
#main .content-wrapper #content #list .page ul>li>a{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background-color: #E2E2E2;
    transition: all 2s;
}
#main .content-wrapper #content #list .page ul>li>a .g{
    position: absolute;
    top: -30px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #5B6673;
    border-radius: 15px;
    transition: all .4s;
}
#main .content-wrapper #content #list .page ul>li>a:hover .g{
    top: 0px;
}
#main .content-wrapper #content #list .page ul>li>a:active{
    transform: scale(1.1);
}
#main .content-wrapper #content #list .page ul>li:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#main .content-wrapper #content #list .page ul>li:nth-last-child(1){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#main .content-wrapper #content #list .page ul>li:nth-child(2n-1){
    transform: translateY(0px);
}
#main .content-wrapper #content #list .page ul>li:nth-child(2n){
    transform: translateY(5px);
}
.loader{
    height: 400px;
    width: 100%;
    display: table;
}
.loader>div{
    display: table-cell;
    vertical-align: middle;
    animation: middle 1s infinite linear;
}
.loader>div .block{
    line-height: 500px;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #66a8ff;
    height: 15px;
    width: 15px;
    vertical-align: middle;

}
.loader>div .block:nth-child(2){
    height: 40px;
    width: 40px;
}
@keyframes middle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes icon {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#write{
    height: 500px;
    width: 100%;
}
#write textarea{
    height: 100%;
    width: 100%;
}
.article .title{
    position: relative;
    font-size: 240%;
}
.article .time{
    margin-right: 100px;
    text-align: left;
    display: inline-block;
    font-size: 12px;
}
.article .type{
    margin-left: 100px;
    text-align: right;
    display: inline-block;
    font-size: 12px;
}
#articleBody-view{
    width: 96%;
    padding: 2%;
}
#footer{
    transition: all 2s;
    border-top: 1px solid #DCDCDC;
    height: 100px;
    width: 65%;
    min-width: 550px;
    max-width: 700px;
    margin: 20px auto 0px;;
    padding: 10px;
    overflow: hidden;
}
#footer iframe{
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    overflow: hidden;
}
.footer{
    transition: all 0s;
    height: 100px;
    display: table;
}
.footer .photos{
    width: 200px;
    height: 100%;
    display: block;
    background-color: grey;
}
.footer .photos .big-photo,
.footer .photos .small-photo{
    float: left;
    width: 96px;
    height: 96px;
    padding: 2px;
}
.footer .photos .small-photo{
    position: relative;
    padding-left: 0px;
    padding-right: 4px;
}
.footer .photos .big-photo a{
    margin: 2px;
}
.footer .photos .big-photo a,
.footer .photos .big-photo a img{
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 96px;
    height: 96px;
}
.footer .photos .big-photo:hover a:nth-child(2){
    display: none;
}
.footer .photos .small-photo ul{
    list-style: none;
}

.footer .photos .small-photo ul li{
    vertical-align: top;
    float: left;
    width: 47px;
    height: 47px;
}
.footer .photos .small-photo ul li:nth-child(1){
    margin-right: 1px;
    margin-bottom: 1px;
}
.footer .photos .small-photo ul li:nth-child(2){
    margin-left: 1px;
    margin-bottom: 1px;
}
.footer .photos .small-photo ul li:nth-child(3){
    margin-right: 1px;
    margin-top: 1px;
}
.footer .photos .small-photo ul li:nth-child(4){
    margin-left: 1px;
    margin-top: 1px;
}
.footer .photos .small-photo ul li a,
.footer .photos .small-photo ul li a img{
    display: block;
    width: 100%;
    height: 100%;
}

.footer .infos{
    height: 100%;
    display: block;
}
.footer .infos .info-line{
    float: left;
    height: 100%;
    width: 22%;
    display: block;
    background-color: rgba(184, 198, 247, 0.5);
    transition: all 0.5s;
}
.footer .infos .info-line:nth-child(2n+1){
    background-color: rgba(208, 208, 208, 0.5);
}
.footer .infos:hover .info-line{
    width: 20%;
}
.footer .infos .info-line:hover{
    width: 30%;
}
.footer .infos .info-line>a{
    display: block;
    width: 100%;
    height: 100%;
}
.footer .infos .info-line a:hover{
    color: inherit;
}
.footer .infos .info-line>a>ul{
    padding-top: 6px;
    list-style: none;
    text-align: center;
}
.footer .infos .info-line>a>ul>li{
    transition: all .5s;
}
.footer .infos .info-line>a>ul>li:hover{
    transform: scale(1.5);
}
.cal{
    margin-top:10px;
}
.lib_list{
    border-left: 1px solid #777777;;

}
.lib_list .list_name{
    height: 30px;
    width: 120px;
    color: white;
    line-height: 30px;
    padding-left: 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #777777;
}
.lib_list .list_sub{
    padding: 5px;
    margin-left: 10px;
    border-left: 1px solid #777777;
    transition: all 1s;
}
.lib_list .list_sub ul{
    list-style: none;
}
.lib_list .list_sub ul li{
    position: relative;
    margin-bottom: 5px;
    height: 30px;
    width: 150px;
    line-height: 30px;
    border: 1px solid #777777;
    border-radius: 5px;
    transition: all 0.5s;
}
.lib_list .list_sub ul li:hover{
    animation:sliedup 1s 1;
    -webkit-animation:slide 0.5s 1;
}
@keyframes slide {
    0%{
        transform: translateX(0px);
    }
    70%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}
.lib_list .list_sub ul li a{
    display: block;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}
.lib_list .list_sub ul li:before{
    content: "";
    height: 1px;
    width: 5px;
    background-color:#777777;
    display: block;
    position: absolute;
    top: 15px;
    left: -6px;
}
.lib_list .list_sub ul li:after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 0px;
    background-color:#777777;
    top: 15px;
    right: -62px;
    transition: all 1s;
}
.lib_list .list_sub ul li.selected:after{
    width: 61px;
}
#content .list_index ul{
    list-style: none;
}
#content .list_index ul li{
    vertical-align: top;
    height: 330px;
    width: 198px;
    margin:0px 5px 5px 0px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#content .list_index ul li.ng-enter{
    transition: all 1s;
    transform: rotateY(-180deg);
}
#content .list_index ul li.ng-enter.ng-enter-active{
    transform: rotateY(0deg);
}
#content .list_index ul li .gif{
    height: 100%;
    width: 100%;
}
#content .list_index ul li .gif img{
    height: 100%;
    width: 100%;
}
#content .list_index ul li .info{
    bottom: -30px;
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: rgba(73, 73, 73, 0.68);
    transition: all 0.3s;
}
#content .list_index ul li:hover .info{
    bottom: 0px;
}
#content .list_index ul li .info .title{
    position: absolute;
    left: 5px;
    width: 140px;
    text-overflow: ellipsis;
    word-wrap: normal;
    height: 30px;
    overflow: hidden;
}
#content .list_index ul li .info .down_url{
    position: absolute;
    right: 5px;
}
#content.lib{
    border-radius: 10px;
    border-left: 1px solid #777777;;
}

#layout{
    margin-top: 15px;
}
.ripple{
    height: 2px;
    width: 2px;
    border-radius: 1px;
    background-color: rgba(114, 180, 236, 0.63);
    position: absolute;
}
.ripple.ng-leave{
    transform: scale(1.0) ;
    background-color: rgba(114, 180, 236, 0.63);
    transition: all 2s;
}
.ripple.ng-leave.ng-leave-active{
    transform: scale(100);
    background-color: rgba(114, 180, 236, 0);
}

/*统计部分*/
.statistics{
    width: 100%;
}
.statistics>ul{
    list-style: none;
    padding: 10px 0px 10px 15px;
}
.statistics>ul>li{
    margin: 5px 0px;
}

.statistics>ul>li .count{
    color: #79a7ff;
}

.searcher{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    display: table;
    transition: all 2s;
}
.searcher.ng-enter{
    transition: all 0.4s;
    transform: scale(0);
    transform-origin: 0% 100%;
}
.searcher.ng-enter.ng-enter-active{
    transform: scale(1);
}
.searcher.ng-leave{
    transition: all 0.4s;
    transform-origin: 0% 100%;
}
.searcher.ng-leave.ng-leave-active{
    transform: scale(0);
}
.searcher .table-cell{
    text-align: center;
    vertical-align: middle;
}
.searcher .table-cell .box{
    padding: 10px;
    width: 400px;
    height: 200px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 30px -5px;
}
.searcher .table-cell .box .key input{
    height: 40px;
    border-radius: 20px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 0px 0px transparent;
    outline: none;
    padding: 0px 15px;
}
.searcher .table-cell .box .key input:focus{
    border: 1px solid #97bde6;
}
.searcher .table-cell .box .key .search{
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
.searcher .table-cell .box .key .search:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/search-icon.png') no-repeat center;
}
.searcher .table-cell .box .key .search:active{
    border: 1px solid #97bde6;
}
.searcher .table-cell .box .key .search:active:after{
    transform: scale(1.2);
}
.searcher .table-cell .box .key .search img{
}

.searcher .table-cell .box .msg a{
    color: #929292;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.searcher .table-cell .box .msg a:hover{
    color: #929292;
}
.searcher .table-cell .box .search-list{
    height: 140px;
    width: 100%;
}
.searcher .table-cell .box .search-list ul{
    height: 100%;
    width: 100%;
}

/*主题部分*/
.normal-theme{

}
.night-theme{
    background-color: #47484A;
}
.night-theme a{
    color: #777777;
}
.night-theme a:hover{
    color: #DDDDDD;
}
.night-theme #header{
    background-color: #292929;;
}
.night-theme #header .search #key {
    background: url(../images/search-icon.png) no-repeat left center #5A5A5A;
}
.night-theme #main{
    border-top: solid 1px #101010;
}
.night-theme #main .content-wrapper #content #list .title-list ul>li{
    background-color: transparent;
}

.night-theme #main .content-wrapper #content #list .title-list ul>li .time {
    border-bottom: 1px solid transparent;
}
.night-theme #main .content-wrapper #content  #list .title-list ul>li:before{
    background-color: #505052;
}
.night-theme #main .content-wrapper #content  #list .title-list ul>li:hover:before{
    height: 100%;
}
.night-theme .ripple{
    height: 2px;
    width: 2px;
    border-radius: 1px;
    background-color: rgba(20, 20, 20, 0.8);
    position: absolute;
}
.night-theme .ripple.ng-leave{
    transform: scale(1.0) ;
    background-color: rgba(84, 84, 84, 0.83);
    transition: all 2s;
}
.night-theme .ripple.ng-leave.ng-leave-active{
    transform: scale(100);
    background-color: rgba(84, 84, 84, 0);
}
.night-theme #footer{
    border-top: 1px solid #717171;
}
.night-theme #main .content-wrapper #content #list .page ul>li.selected a{
    background-color: #5B6673;
    color: #FFFFFF;
}
.night-theme #main .content-wrapper #content #list .page ul>li>a{
    background-color: #1b1b1b;
    color: #DDDDDD;
}
.night-theme #main .content-wrapper #content #list .page ul>li>a .g{
    background-color: #5B6673;
}
.night-theme #footer>ul>li ul li{
    color: #EEEEEE;
}

/*日历颜色反转持续时间*/
.wb-calender,
.wb-calender .content,
.wb-calender .content ul li a,
.wb-calender .content ul li a.cover,
.wb-calender .nav,
.wb-calender .nav ul li,
.wb-calender .ctrl{
    transition: all 2s;
}
/*日历颜色反转*/
.night-theme .wb-calender{
    box-shadow: 3px 3px 6px 0px #333333;
}
.night-theme .wb-calender .content{
    background-color: #412f20;;
}
.night-theme .wb-calender .content ul li a{
    color: #a6a494;
}
.night-theme .wb-calender .content ul li a.cover{
    color: #312518;
}
.night-theme .wb-calender .nav{
    background-color: #1f2f1d;
    border-bottom: 1px solid #424242;
}
.night-theme .wb-calender .nav ul li{
    color: #3a3a3a;
}
.night-theme .wb-calender .ctrl{
    background-color: #130909;
}

/*时钟颜色反转持续时间*/
.wb-clock>a,
.wb-clock>a:hover,
.wb-clock .background,
.wb-clock>a:hover .background,
.wb-clock .background .center ,
.wb-clock>a:hover .background .center{
    transition: all 2s;
}
/*时钟颜色反转*/
.night-theme .wb-clock>a{
    color: #d6d6d6;
}
.night-theme .wb-clock>a:hover{
    color: #474747;
}
.night-theme .wb-clock .background{
    background-color: #757575;
}
.night-theme .wb-clock>a:hover .background{
    background-color: #7E7E81;
}
.night-theme .wb-clock .background .second{
    border-top: 40px solid #000000;
}
.night-theme .wb-clock>a:hover .background .second{
    border-top: 40px solid #3A3A3A;
}
.night-theme .wb-clock .background .center {
    background-color: #384139;
}
.night-theme .wb-clock>a:hover .background .center{
    background-color: #6B746C;
}

/*文章查看*/
.night-theme .markdown-body a{
    color: #C3A1A1;
}
.night-theme .article .title{
    color: #E1DEDE;
}
.night-theme .article .time{
    color: #A8A5A5;
}
.night-theme .article .type{
    color: #A8A5A5;
}
.night-theme #articleBody-view{
    background-color: #757678;
}
.night-theme .prettyprint.linenums.prettyprinted{
    background-color: #47484A;
}
.night-theme .linenums .L1,
.night-theme .linenums .L3,
.night-theme .linenums .L5,
.night-theme .linenums .L7,
.night-theme .linenums .L9{
    background: #616161;
}
.night-theme .linenums .typ,
.night-theme .linenums .pun,
.night-theme .linenums .pln,
.night-theme .linenums .lit,
.night-theme .linenums .pun{
    color: #F1F1F1;
}
.night-theme .linenums .str{
    color: #111111;
}
.night-theme .linenums .com{
    color:#B1CEAE;
}

/*写文章*/
.night-theme .editormd-menu > li > a{
    color: #F1F1F1;
}
.night-theme .editormd-menu > li > a:hover{
    background: #232323;
}
.night-theme .editormd-toolbar .editormd-toolbar-container{
    background-color: #555555;
}
.night-theme .CodeMirror .CodeMirror-scroll{
    background-color: #555555;
}
.night-theme .CodeMirror-activeline .CodeMirror-linebackground{
    background-color: #252525;
}
.night-theme .editormd .CodeMirror pre{
    color: #EAEAEA;
}
.night-theme .editormd-preview{
    background-color: #555555;
}
.night-theme .CodeMirror-gutters{
    background-color:#423939;
}

.night-theme .CodeMirror-gutter-elt{
    color: #EAEAEA;
}

.night-theme .editormd-preview-container{
    background-color: #777879;
}

/*库*/
.night-theme .lib_list{
    border-left: 1px solid #ffffff;
}
.night-theme .lib_list .list_sub ul li a{
    color: #FFFFFF;
}
.night-theme .lib_list .list_name{
    color: #FFFFFF;
}
.night-theme .lib_list .list_sub{
    border-left: 1px solid #FFFFFF;
}
.night-theme .lib_list .list_sub ul li{
    border: 1px solid #e1e1e1;
}
.night-theme .lib_list .list_sub ul li:before{
    background-color: #f4f4f4;
}
.night-theme .lib_list .list_sub ul li:after{
    background-color: #d8d8d8;
}
.night-theme #content .list_index ul li .info{
    background-color: rgba(73, 73, 73, 0.68);
}
.night-theme #content.lib{
    border-left: 1px solid #d1d1d1;;
}
.night-theme #content .list_index ul li .info .title,
.night-theme #content .list_index ul li .info .down_url{
    color: #e0e0e0;
}
.night-theme #content .list_index ul li .info a:hover{
    color: #FFFFFF;
}
.night-theme .markdown-body blockquote{
    color:#FFFFFF;
}