body{
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

#header{
    height: 150px;
    background-color:#2e7bcf;
    position: relative;
}

#header .search{
    position: absolute;
    right: 50px;
    bottom: 20px;
}
#header .search #key{
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #808080;
    background: url(../images/search-icon.png) no-repeat left center white;
}
#main{
    border-top: solid 1px #fff;
    padding-top: 30px;
}
#main .content-wrapper{
    margin: 0px auto;
}
#sidebar{
    /*box-shadow: 1px 2px 3px #ddd;*/
    /*border-radius: 5px;*/
    /*background-color: #fff;*/
    padding: 20px;
    width: 200px;
    height: 500px;
}
#sidebar img{
    width: 100%;
    animation:icon 2s infinite;
}

#main .content-wrapper{
    width: 950px;
}
#main .content-wrapper #content{
    padding-left: 1em;
}
@media(max-width: 1000px){
    #main .content-wrapper{
        width: 90%;
    }
    #sidebar{
        display: none;
    }
    #main .content-wrapper #content{
        padding-left: 0px;
    }
}
@media (max-width: 500px) {
    #main{
        padding-top: 10px;
    }
    #main .content-wrapper{
        width: 100%;
    }
    #main .content-wrapper #content{
        padding-left:0px;
    }
}

#main .content-wrapper #content{
    vertical-align: top;
}

#main .content-wrapper #content #list>ul{
    padding: 0px;
    list-style: none;
}
#main .content-wrapper #content #list>ul>li{
    position: relative;
    border-radius: 5px;
    margin-bottom: 1px;
    padding-left: 1em;
    padding-bottom: 5px;
    background-color: #fff;
    display: block;
}
#main .content-wrapper #content #list>ul>li:before{
    content: "";
    display: none;
    height: 20px;
    width: 20px;
    border-top: 2px solid #BBAA98;
    border-left: 2px solid #BBAA98;
    border-top-left-radius: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: left 1s, top 1s;
}
#main .content-wrapper #content #list>ul>li:hover:before{
    display: block;
}
#main .content-wrapper #content #list>ul>li:after{
    content: "";
    display: none;
    height: 20px;
    width: 20px;
    border-bottom: 2px solid #BBAA98;
    border-right: 2px solid #BBAA98;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#main .content-wrapper #content #list>ul>li:hover:after{
    display: block;
}
#main .content-wrapper #content #list>ul>li .title{
    font-size: 30px;
    line-height: 45px;
    color: #414256;;
}
#main .content-wrapper #content #list>ul>li .time{
    padding-left: 1em;
    line-height: 15px;
    font-size: 15px;
    color: #929292;
    border-bottom: 1px solid #EAEAEA;
}
#main .content-wrapper #content #list>ul>li:hover .title{

}
#main .content-wrapper #content #list>ul>li:hover .time{

}
#main .content-wrapper #content #list>div{
    height: 50px;
    text-align: center;
}
#main .content-wrapper #content #list>div>ul{
    display: inline-block;
    height: 100%;
    margin-top: 10px;
    list-style: none;
}
#main .content-wrapper #content #list>div>ul>li{
    padding: 0px;
    display: inline-block;
    width: 35px;
    height: 30px;
    line-height: 30px;
    background-color: #D4D4D4;
    text-align: center;
    margin-left:2px;
}
#main .content-wrapper #content #list>div>ul>li>a{
    display: block;
    height: 100%;
    width: 100%;
}
#main .content-wrapper #content #list>div>ul>li:hover{
    background-color: #B5B5B5;
}
#main .content-wrapper #content #list>div>ul>li:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#main .content-wrapper #content #list>div>ul>li:nth-last-child(1){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#showpanel{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 500px;
    display: none;
    /*background-color: #FFFFFF;*/
    /*box-shadow: 1px 2px 3px #ddd;*/
}
#showpanel #title{
    text-align: center;
    font-size: 2em;
}
#showpanel #body{

}
#loader{
    height: 100px;
}
#loader .block{
    border-radius: 50px;
    display: inline-block;
    background-color: #929292;;
    height: 15px;
    width: 15px;
}
#loader .block:nth-child(1){
    animation: left 2s infinite;
}
#loader .block:nth-child(2){
    animation: middle 2s infinite;
}
#loader .block:nth-child(3){
    animation: right 2s infinite;
}
@keyframes left {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes middle {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes right {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes icon {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#write{
    height: 500px;
    width: 100%;
}
#write textarea{
    height: 100%;
    width: 100%;
}

#footer{
    margin-top:50px;
    height: 50px;
}
#footer ul{
    margin: 0px;
    text-align: center;
    display: block;
    list-style: none;
}
#footer ul li{
    font-size: 10px;
    display: inline-block;
}