<html ng-app="index" ng-controller="GlobalCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/util.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/directive.css" rel="stylesheet">
    <link href="css/editormd.preview.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script src="js/lib/jquery-2.1.4.min.js" type="text/javascript"></script>
    <!--<script src="js/util.js" type="text/javascript"></script>-->
    <!--<script type="text/javascript" src="js/lib/ckeditor/ckeditor.js"></script>-->

    <script src="js/Log.js" type="text/javascript"></script>
    <script src="editor/lib/marked.min.js" type="text/javascript"></script>
    <script src="editor/lib/prettify.min.js" type="text/javascript"></script>
    <script src="editor/lib/raphael.min.js" type="text/javascript"></script>
    <script src="editor/lib/underscore.min.js" type="text/javascript"></script>
    <script src="editor/lib/sequence-diagram.min.js" type="text/javascript"></script>
    <script src="editor/lib/flowchart.min.js" type="text/javascript"></script>
    <script src="editor/lib/jquery.flowchart.min.js" type="text/javascript"></script>
    <script src="js/lib/editormd.min.js" type="text/javascript"></script>
    <script src="js/lib/angular.min.js" type="text/javascript"></script>
    <script src="js/lib/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/base.js" type="text/javascript"></script>
    <script src="js/util.js" type="text/javascript"></script>
</head>
    <body ng-controller="LibCtrl" ng-class="{1:'normal-theme',2:'night-theme'}[theme]">

        <div id="header" ng-mousemove="header.mousemove($event)" ng-mouseout="header.mouseout()">
            <div ng-repeat="v in header.viewflag" class="ripple" style="left:{{v.x}}px;top:{{v.y}}px;"></div>
            <clock></clock>
            <div class="nav" ng-class="{true:'show'}[navshow]">
                <ul>
                    <li><a href="index.html">主页</a></li>
                    <li><a href="javascript:util.showMessage('提示','我只是一个标签')">QQ</a></li>
                    <li><a href="javascript:util.showMessage('提示','我只是一个标签')">Mail</a></li>
                    <li><a href="write.html">记录</a></li>
                    <li><a href="lib.html">我的库</a></li>
                    <li><a href="" ng-click="themeChange()">反转</a></li>
                    <li><a ng-click="dohide()">{{nav.hidetip}}</a></li>
                </ul>
                <div class="switch"></div>
            </div>
        </div>
        <nav></nav>
        <!--主体-->
        <div id="main">
            <div class="content-wrapper table">
                <aside id="sidebar" class="table-cell">
                    <div class="lib_list">
                        <div class="list_name">Android</div>
                        <div class="list_sub">
                            <ul>
                                <li ng-click="selectlib($index)" ng-class="{true:'selected'}[t.checked]" ng-repeat="t in androidLibList"><a>{{t.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div id="content" class="table-cell lib">
                    <div class="list_index">
                        <ul>
                            <li ng-repeat="item in result">
                                <div class="gif"><img src="{{item.picture_url}}"></div>
                                <div class="info">
                                    <a class="title">{{item.title}}</a>
                                    <a class="down_url" href="{{item.down_url}}">下载</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--页脚开始-->
        <div id="footer">
            <ul>
                <li><a href="javascript:void(0)">关于我</a>
                    <ul><li></li></ul>
                </li>
                <li><a href="javascript:void(0)">联系我</a>
                    <ul><li class="text-left">QQ:295490665</li>
                        <li class="text-left">Mail:wangbingit@outlook.com</li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)">免责申明</a>
                    <ul>
                        <li class="text-left">以上内容有部分从书籍中学</li>
                        <li class="text-left">来,部分是自己理解,如果内</li>
                        <li class="text-left">容侵犯您的权益，请联系我</li>
                        <li class="text-left">删除内容!</li>
                    </ul>
                </li>
            </ul>

        </div>
        <!--页脚结束-->
    </body>
</html>