<html ng-app="index" ng-controller="GlobalCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/util.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/directive.css" rel="stylesheet">
    <link href="css/editormd.preview.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script src="js/lib/jquery-2.1.4.min.js" type="text/javascript"></script>
    <!--<script src="js/util.js" type="text/javascript"></script>-->
    <!--<script type="text/javascript" src="js/lib/ckeditor/ckeditor.js"></script>-->

    <link rel="stylesheet" href="editor/css/style.css" />
    <link rel="stylesheet" href="editor/css/editormd.css" />

    <script src="js/Log.js" type="text/javascript"></script>
    <script src="editor/lib/marked.min.js" type="text/javascript"></script>
    <script src="editor/lib/prettify.min.js" type="text/javascript"></script>
    <script src="editor/lib/raphael.min.js" type="text/javascript"></script>
    <script src="editor/lib/underscore.min.js" type="text/javascript"></script>
    <script src="editor/lib/sequence-diagram.min.js" type="text/javascript"></script>
    <script src="editor/lib/flowchart.min.js" type="text/javascript"></script>
    <script src="editor/lib/jquery.flowchart.min.js" type="text/javascript"></script>
    <script src="js/lib/editormd.min.js" type="text/javascript"></script>
    <script src="js/lib/angular.min.js" type="text/javascript"></script>
    <script src="js/lib/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/base.js" type="text/javascript"></script>
    <script src="js/util.js" type="text/javascript"></script>
    <script src="js/lib/jquery-2.1.4.min.js"></script>
    <script src="js/lib/editormd.min.js"></script>
</head>
<body ng-controller="WriteCtrl" ng-class="{1:'normal-theme',2:'night-theme'}[theme]">
    <div id="header" ng-mousemove="header.mousemove($event)" ng-mouseout="header.mouseout()">
        <div ng-repeat="v in header.viewflag" class="ripple" style="left:{{v.x}}px;top:{{v.y}}px;"></div>
        <clock></clock>
        <div class="nav" ng-class="{true:'show'}[navshow]">
            <ul>
                <li><a href="index.html">主页</a></li>
                <li><a href="javascript:util.showMessage('提示','我只是一个标签')">QQ</a></li>
                <li><a href="javascript:util.showMessage('提示','我只是一个标签')">Mail</a></li>
                <li><a href="write.html">记录</a></li>
                <li><a href="lib.html">我的库</a></li>
                <li><a href="" ng-click="themeChange()">反转</a></li>
                <li><a ng-click="dohide()">{{nav.hidetip}}</a></li>
            </ul>
            <div class="switch"></div>
        </div>
        <div class="search">
            <input type="button" id="clip" ng-click="clip()" value="copy源码">
        </div>
    </div>
    <nav></nav>
    <!--主体-->
    <div id="layout">
        <div id="test-editormd">
            <textarea style="display:none;"></textarea>
        </div>
    </div>
    <script type="text/javascript">
        var testEditor;
        $(function() {
            testEditor = editormd("test-editormd", {
                width   : "90%",
                height  : 640,
                syncScrolling : "single",
                path    : "editor/lib/",
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
            document.getElementsByTagName("body")[0].onkeydown =function(){
                if(event.keyCode==8){
                    var elem = event.srcElement;
                    var name = elem.nodeName;

                    if(name!='INPUT' && name!='TEXTAREA'){
                        event.returnValue = false ;
                        return ;
                    }
                    var type_e = elem.type.toUpperCase();
                    if(name=='INPUT' && (type_e!='TEXT' && type_e!='TEXTAREA' && type_e!='PASSWORD' && type_e!='FILE')){
                        event.returnValue = false ;
                        return ;
                    }
                    if(name=='INPUT' && (elem.readOnly==true || elem.disabled ==true)){
                        event.returnValue = false ;
                        return ;
                    }
                }
            }
        });
    </script>

    <!--页脚开始-->
    <div id="footer">
        <iframe src="footer.html"></iframe>
    </div>
    <!--页脚结束-->
</body>
</html>
