.table{
    display: table;
    word-wrap:break-word;
    table-layout:fixed;
}
.table-cell{
    display: table-cell;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #3FAAF9;
}