*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 800px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
.table{
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
.table-row{
    display: table-row;
}
.table-cell{
    vertical-align: middle;
    line-height: 30px;
    display: table-cell;
    border: 1px solid #000;
    border-right-width:0px;
}
.table-cell:nth-child(1){
    border-left-width:0px;
}
.font-size14{
    font-size: 14px;
}
.font-size16{
    font-size: 16px;
}
.font-size18{
    font-size: 18px;
}
.font-size20{
    font-size: 20px;
}
.font-size22{
    font-size: 22px;
}
.font-size24{
    font-size: 24px;
}
.font-size26{
    font-size: 26px;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.size-full{
    width: 100%;
    height: 100%;
}
.size-w-full{
    width: 100%;
}
.size-h-full{
    height: 100%;
}
.dis-block{
    display: block;
}
.dis-il-block{
    display: inline-block;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.show-overline:hover{
    text-decoration: underline;
}
.icon{
    height:150px;
    width: 150px;
    background-image: url("../images/icon.png");
    background-size: 100% 100%;
    position: relative;
}
.icon-main{
    height: 30px;
    width: 30px;
}
.icon-main .icon{
    left: -120px;
}
.icon-qq{
    height: 30px;
    width: 30px;
}
.icon-qq .icon{
    top: -120px;
}
.icon-phone{
    height: 30px;
    width: 30px;
}
.icon-phone .icon{
    top: -30px;
    left: -60px;
}
.icon-seach{
    height: 30px;
    width: 30px;
}
.icon-seach .icon{
    top: -120px;
    left: -120px;
}
.pad-20{
    padding: 20px;
}
.line-h30{
    line-height: 30px;
}