<div class="container">
    <div class="logo"></div>
    <div class="catelog">
        <div class="table size-full">
            <div class="table-row">
                <div class="table-cell">
                    <ul>
                        <li><a href="" class="icon-home"><div class="icon"></div></a></li>
                        <li class="extend"><a href="" class="icon-qq" style="font-size: initial"><div class="icon"></div></a>
                            <a class="show-panel">295490665</a>
                        </li>
                        <li class="extend"><a href="" class="icon-phone"><div class="icon"></div></a>
                            <a class="show-panel">12345678910</a>
                        </li>
                        <li class="extend"><a href="" class="icon-seach"><div class="icon"></div></a>
                            <a class="show-panel">全站搜索</a>
                        </li>
                        <li><a href="write.html" class="icon-write"><div class="icon"></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="info">
    <div class="blog-icon">
        <img src="images/blog.png" width="200">
    </div>
    <div class="search">
        <div class="filter table size-full vertical-center">
            <div class="table-cell">
                <input class="key" type="text" placeholder="搜索..." id="key"
                ><a class="icon-seach" ng-click="search()">
                    <div class="icon"></div>
                </a>
            </div>
        </div>
        <div class="display">
            <div class="table size-full">
                <div class="table-cell text-center">
                    <ul class="guide text-left">
                        <li ng-repeat="record in recordList | filter:key">
                            <a ng-href="record.link">{{ record.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="flag" ng-click="hide()"></a>
